<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>E-mail</label>
        <input type="email" ng-model="model.email" name="email" maxlength="50" required>
        <div ng-messages="form.email.$error" 
            ng-show="form.email.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
            <div ng-message="email">Email inválido.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Nombre</label>
        <input type="text" ng-model="model.nombre" name="nombre" maxlength="50" required validation="alpha_spaces">
        <div ng-messages="form.nombre.$error" 
            ng-show="form.nombre.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Apellido paterno</label>
        <input type="text" ng-model="model.apellido_paterno" name="apellido_paterno" maxlength="50" required validation="alpha_spaces">
        <div ng-messages="form.apellido_paterno.$error" 
            ng-show="form.apellido_paterno.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Apellido materno</label>
        <input type="text" ng-model="model.apellido_materno" name="apellido_materno" maxlength="100" required validation="alpha_spaces">
        <div ng-messages="form.apellido_materno.$error" 
            ng-show="form.apellido_materno.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Municipio</label>
        <md-select ng-model="model.municipio_id" name="municipio_id" required>
            <md-option ng-repeat="municipio in municipios" value="{{municipio.id}}">
                {{municipio.nombre}}
            </md-option>
        </md-select>
        <div ng-messages="form.municipio_id.$error" 
            ng-show="form.municipio_id.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Sexo</label>
        <md-select ng-model="model.sexo" name="sexo" required>
            <md-option value="M">Masculino</md-option>
            <md-option value="F">Femenino</md-option>
        </md-select>
        <div ng-messages="form.sexo.$error" 
            ng-show="form.sexo.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Contraseña <span ng-show="!required_password">(Opcional)</span></label>
        <input type="password" ng-model="model.password" name="password" maxlength="10" ng-required="required_password">
        <div ng-messages="form.password.$error" 
            ng-show="form.password.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Confirmar contraseña <span ng-show="!required_password">(Opcional)</span></label>
        <input type="password" ng-model="model.password_confirm" name="password_confirm" maxlength="10"  ng-required="required_password">
        <div ng-messages="form.password_confirm.$error" 
            ng-show="form.password_confirm.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>