<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Concesionario</label>
        <md-select ng-model="model.concesionario_id" name="concesionario_id" required>
            <md-option ng-repeat="concesionario in catalogos.concesionario" value="{{concesionario.id}}">
                {{concesionario.nombre_concesionado}}
            </md-option>
        </md-select>
        <div ng-messages="form.concesionario_id.$error" 
            ng-show="form.concesionario_id.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Modalidad</label>
        <md-select ng-model="model.modalidad_id" name="modalidad_id" required>
            <md-option ng-repeat="modalidad in catalogos.modalidad" value="{{modalidad.id}}">
                {{modalidad.nombre}}
            </md-option>
        </md-select>
        <div ng-messages="form.modalidad_id.$error" 
            ng-show="form.modalidad_id.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Tipo</label>
        <input type="text" ng-model="model.tipo" name="tipo" maxlength="50" required validation="alpha_num_spaces">
        <div ng-messages="form.tipo.$error" 
            ng-show="form.tipo.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Marca</label>
        <input type="text" ng-model="model.marca" name="marca" maxlength="50" required validation="alpha_num_spaces">
        <div ng-messages="form.marca.$error" 
            ng-show="form.marca.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Modelo</label>
        <input type="number" ng-model="model.modelo" name="modelo" maxlength="4" required>
        <div ng-messages="form.modelo.$error" 
            ng-show="form.modelo.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Número de Motor</label>
        <input type="text" ng-model="model.numero_motor" name="numero_motor" maxlength="25" required validation="pattern=/^([a-z0-9\._-])+$/i:alt=Únicamente puede contener letras, números, guiones y puntos.">
        <div ng-messages="form.numero_motor.$error" 
            ng-show="form.numero_motor.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Número de Serie</label>
        <input type="text" ng-model="model.numero_serie" name="numero_serie" maxlength="25" required validation="alpha_dash">
        <div ng-messages="form.numero_serie.$error" 
            ng-show="form.numero_serie.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Número de Económico</label>
        <input type="text" ng-model="model.numero_economico" name="numero_economico" maxlength="4" required validation="alpha_dash">
        <div ng-messages="form.numero_economico.$error" 
            ng-show="form.numero_economico.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Tarjeta de Circulación</label>
        <input type="text" ng-model="model.tarjeta_circulacion" name="tarjeta_circulacion" maxlength="10" required validation="alpha_dash_spaces">
        <div ng-messages="form.tarjeta_circulacion.$error" 
            ng-show="form.tarjeta_circulacion.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Placas</label>
        <input type="text" ng-model="model.placas" name="placas" maxlength="7" required validation="alpha_dash">
        <div ng-messages="form.placas.$error" 
            ng-show="form.placas.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Capacidad</label>
        <input type="number" ng-model="model.capacidad" name="capacidad" maxlength="4" required>
        <div ng-messages="form.capacidad.$error" 
            ng-show="form.capacidad.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Factura</label>
        <input type="text" ng-model="model.factura" name="factura" maxlength="50" required validation="alpha_dash_spaces">
        <div ng-messages="form.factura.$error" 
            ng-show="form.factura.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Aseguradora</label>
        <md-select ng-model="model.aseguradora_id" name="aseguradora_id" required>
            <md-option ng-repeat="aseguradora in catalogos.aseguradora" value="{{aseguradora.id}}">
                {{aseguradora.nombre}}
            </md-option>
        </md-select>
        <div ng-messages="form.aseguradora_id.$error" 
            ng-show="form.aseguradora_id.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Poliza de Seguro</label>
        <input type="number" ng-model="model.poliza_seguro" name="poliza_seguro" maxlength="50" required validation="alpha_dash_spaces">
        <div ng-messages="form.poliza_seguro.$error" 
            ng-show="form.poliza_seguro.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Vigencia de la Poliza (DD-MM-YYYY)</label>
        <input type="text" ng-model="model.vigencia_poliza" name="vigencia_poliza" maxlength="25" required
            ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="space">
        <div ng-messages="form.vigencia_poliza.$error" 
            ng-show="form.vigencia_poliza.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>