<md-toolbar 
    layout="row" 
    layout-align="space-between center" 
    ng-include="'src/modules/main/views/common/menubar.html'">
</md-toolbar>

<div flex layout="column">
    <md-content layout="row" flex>
        <ng-include src="'src/modules/main/views/common/sidenav.html'"></ng-include>

        <md-content flex layout-column layout-padding class="md-whiteframe-z2 main-layout">
            <div flex>
                <!-- ********************* INICIO CONTENIDO ********************* -->
                <div flex>&nbsp;</div>
                <div flex layout="row">
                    <md-input-container flex>
                        <label>Filtro por Concesionario</label>
                        <md-select ng-model="concesionarioSelected">
                            <md-option ng-selected="true" value="0">Todos</md-option>
                            <md-option ng-repeat="concesionario in concesionarios" value="{{concesionario.id}}">
                                {{concesionario.nombre_concesionado}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex class="md-icon-float md-icon-right">
                        <label>No. Económico</label>
                        <input type="text" ng-model="filtroNoEconomico" maxlength="4">
                        <md-icon class="cursor-pointer" ng-click="getList(1)">search</md-icon>
                    </md-input-container>
                </div>
                <div flex ng-include="'src/modules/taxi/views/table.html'">
                </div>

                <!-- <md-button class="md-fab btnFloatBottom2" aria-label="Mapa" ng-click="goto('taxis_map')">
                    <md-tooltip md-direction="top">Ver mapa de Taxis</md-tooltip>
                    <md-icon>map</md-icon>
                </md-button> -->
                <md-button class="md-fab btnFloatBottom" aria-label="Agregar" ng-click="goto('taxis_create')">
                    <md-tooltip md-direction="top">Registrar nuevo Taxi</md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
                <!-- ********************* FIN CONTENIDO ********************* -->
            </div>
        </md-content>
    </md-content>    
</div>