<md-toolbar
    ng-include="'src/modules/taxi/views/menubar.html'">
</md-toolbar>

<div flex layout="column">
    <md-content layout="row" flex>
        <ng-include src="'src/modules/main/views/common/sidenav.html'"></ng-include>

        <md-content flex layout-column class="md-whiteframe-z2 main-layout">
                <!-- ********************* INICIO CONTENIDO ********************* -->
                <md-progress-linear md-mode="indeterminate" ng-show="promise"></md-progress-linear>

                <script type="text/ng-template" id="NoTaxisOnLine.tpl.html">
                    <h3>No. de Taxis en línea: {{map.markers.length}} &nbsp; </h3>
                </script>

                <ui-gmap-google-map
                    center="map.center"
                    zoom="map.zoom"
                    control="map.control">

                    <ui-gmap-map-control
                        template="NoTaxisOnLine.tpl.html"
                        position="top-right"
                        controller="TaxiController">
                    </ui-gmap-map-control>

                    <ui-gmap-markers
                        models="map.markers"
                        coords="'coords'"
                        icon="'icon'"
                        options="'options'"
                        click= "onClick">

                            <!-- Cada marcador tendra su propio infoWindow -->
                            <ui-gmap-windows show="showWindow" options="'optionsWindow'" ng-cloak>
                                <div ng-non-bindable>
                                    <p><strong>No. Económico: </strong>{{infoWindow.numero_economico}}</p>
                                    <p><strong>Placa: </strong>{{infoWindow.placa}}</p>
                                    <p><strong>Conductor: </strong>{{infoWindow.conductor}}</p>
                                </div>
                            </ui-gmap-windows>

                    </ui-gmap-markers>

                </ui-gmap-google-map>
                <!-- ********************* FIN CONTENIDO ********************* -->

        </md-content>
    </md-content>
</div>