<div class="md-toolbar-tools" md-whiteframe="1">
    <md-button
        ng-show="menu.itemsSideNav().length != 0"
        class="md-icon-button"
        hide-gt-sm
        ng-click="menu.toggle()"
        aria-label="Menú">
            <md-icon class="material-icons">reorder</md-icon>
    </md-button>
    <h2><a href="#/"><md-icon md-svg-icon="logo" class="logo"></md-icon></a></h2>

    <md-input-container flex>
        <label>Concesionaria</label>
        <md-select ng-model="$parent.concesionarioSelected">
            <md-option ng-selected="true" value="0">Todos</md-option>
            <md-option ng-repeat="concesionario in concesionarios" value="{{concesionario.id}}">
                {{concesionario.nombre_concesionado}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container flex>
        <label>Status</label>
        <md-select ng-model="$parent.statusSelected">
            <md-option ng-selected="true" value="0">Todos</md-option>
            <md-option value="1">Disponible</md-option>
            <md-option value="2">Ocupado</md-option>
            <md-option value="3">Pánico</md-option>
        </md-select>
    </md-input-container>
    <md-input-container flex>
        <label>No. Económico</label>
        <input type="text" ng-model="$parent.filtroNoEconomico" maxlength="4">
    </md-input-container>
    <md-button class="md-icon-button" ng-click="findTaxiMap()">
        <md-icon class="material-icons">search</md-icon>
    </md-button>

    <md-menu>
        <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
            <md-icon class="material-icons">account_box</md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item ng-repeat="item in menu.itemsMenuBar()">
                <md-button aria-label="{{item.text}}" ng-click="menu.goto(item.state)">
                    <md-icon class="material-icons">{{item.icon}}</md-icon> {{item.text}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>