<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Organización</label>
        <input type="text" ng-model="concesion.organizacion" name="organizacion" maxlength="20" required validation="alpha_dash">
    </md-input-container>
    <md-input-container flex>
        <label>Número de concesión</label>
        <input type="text" ng-model="concesion.numero_concesion" name="numero_concesion" maxlength="50" required validation="alpha_dash">
        <div ng-messages="form.numero_concesion.$error"
            ng-show="form.numero_concesion.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Nombre del concesionario</label>
        <input type="text" ng-model="concesion.nombre_concesionado" name="nombre_concesionado" maxlength="100" required validation="alpha_spaces">
        <div ng-messages="form.nombre_concesionado.$error"
            ng-show="form.nombre_concesionado.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Nombre del representante legal</label>
        <input type="text" ng-model="concesion.nombre_representante_legal" name="nombre_representante_legal" maxlength="100" required validation="alpha_spaces">
        <div ng-messages="form.nombre_representante_legal.$error"
            ng-show="form.nombre_representante_legal.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Domicilio</label>
        <input type="text" ng-model="concesion.domicilio" name="domicilio" maxlength="100" required>
        <div ng-messages="form.domicilio.$error"
            ng-show="form.domicilio.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Municipio</label>
        <md-select ng-model="concesion.municipio_id" name="municipio_id" required>
            <md-option ng-repeat="municipio in municipios" value="{{municipio.id}}">
                {{municipio.nombre}}
            </md-option>
        </md-select>
        <div ng-messages="form.municipio_id.$error"
            ng-show="form.municipio_id.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Localidad</label>
        <input type="text" ng-model="concesion.localidad" name="localidad" maxlength="100" required validation="alpha_num_spaces ">
        <div ng-messages="form.localidad.$error"
            ng-show="form.localidad.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Teléfono</label>
        <input type="text" ng-model="concesion.telefono" name="telefono" maxlength="15" required validation="digits_between:7,15">
        <div ng-messages="form.telefono.$error"
            ng-show="form.telefono.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Fecha de concesión</label>
        <input type="text" ng-model="concesion.fecha_concesion" name="fecha_concesion" required
            ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="space">
        <div ng-messages="form.fecha_concesion.$error"
            ng-show="form.fecha_concesion.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Acta constitutiva</label>
        <input type="text" ng-model="concesion.acta_constitutiva" name="acta_constitutiva" maxlength="50" required validation="alpha_num_spaces">
        <div ng-messages="form.acta_constitutiva.$error"
            ng-show="form.acta_constitutiva.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Periodico Oficial</label>
        <input type="text" ng-model="concesion.periodico_oficial" name="periodico_oficial" maxlength="50" required validation="alpha_num_spaces">
        <div ng-messages="form.periodico_oficial.$error"
            ng-show="form.periodico_oficial.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Fecha de Publicación</label>
        <input type="text" ng-model="concesion.fecha_publicacion" name="fecha_publicacion" maxlength="15" required
            ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="space">
        <div ng-messages="form.fecha_publicacion.$error"
            ng-show="form.fecha_publicacion.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>INE</label>
        <input type="text" ng-model="concesion.ine" name="ine" maxlength="18" required validation="alpha_num">
        <div ng-messages="form.ine.$error"
            ng-show="form.ine.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Teléfono de Casa</label>
        <input type="text" ng-model="concesion.telefono_casa" name="telefono_casa" maxlength="15" required validation="digits_between:7,15">
        <div ng-messages="form.telefono_casa.$error"
            ng-show="form.telefono_casa.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Teléfono Celular</label>
        <input type="text" ng-model="concesion.telefono_celular" name="telefono_celular" maxlength="15" required validation="digits_between:7,15">
        <div ng-messages="form.telefono_celular.$error"
            ng-show="form.telefono_celular.$touched || form.$submitted"
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>