<md-toolbar 
    layout="row" 
    layout-align="space-between center" 
    ng-include="'src/modules/main/views/common/menubar.html'">
</md-toolbar>

<div flex layout="column">
    <md-content layout="row" flex>
        <ng-include src="'src/modules/main/views/common/sidenav.html'"></ng-include>

        <md-content flex layout-column layout-padding class="md-whiteframe-z2 main-layout">
            <div flex>
                <!-- ********************* INICIO CONTENIDO ********************* -->
                <div flex ng-include="'src/modules/concesion/views/table.html'">
                </div>

                <md-button class="md-fab btnFloatBottom" aria-label="Agregar" ng-click="goto('concesiones_create')">
                    <md-icon>group_add</md-icon>
                </md-button>
                <!-- ********************* FIN CONTENIDO ********************* -->
            </div>
        </md-content>
    </md-content>    
</div>