<md-table-container>
    <table md-table md-progress="promise"> <!-- md-row-select="true" ng-model="selected" -->
        <thead md-head>
            <tr md-row>
                <th md-column><span>Organización</span></th>
                <th md-column><span>Número de Concesión</span></th>
                <th md-column><span>Concesionario</span></th>
                <th md-column><span>Representante Legal</span></th>
                <th md-column><span>Municipio</span></th>
                <th md-column><span>Activo</span></th>
                <!-- <th md-column><span>Editar</span></th> -->
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="concesionario" md-select-id="{{concesionario.id}}" ng-click="goto('concesiones_edit', {id: concesionario.id })"
                class="cursor-alias" md-auto-select="true" ng-repeat="concesionario in concesiones">
                <td md-cell>{{concesionario.organizacion}}</td>
                <td md-cell>{{concesionario.numero_concesion}}</td>
                <td md-cell>{{concesionario.nombre_concesionado}}</td>
                <td md-cell>{{concesionario.nombre_representante_legal}}</td>
                <td md-cell>{{concesionario.municipio.nombre}}</td>
                <td md-cell>
                    <md-button ng-click="toogleActivo(concesionario, $event)" class="md-icon-button" aria-label="Cambiar Estado de Activo">
                        <md-tooltip md-direction="top">
                            {{concesionario.activo ? 'Activo' : 'Inactivo' }},
                            de click para cambiar su status
                        </md-tooltip>
                        <md-icon>
                            {{concesionario.activo ? 'check_box' : 'check_box_outline_blank' }}
                        </md-icon>
                    </md-button>
                </td>
                <!-- <td md-cell>
                    <md-button ng-click="goto('concesiones_edit', {id: concesionario.id })" class="md-icon-button" aria-label="Editar">
                        <md-tooltip md-direction="top">Editar</md-tooltip>
                        <md-icon ng-click="">mode_edit</md-icon>
                    </md-button>
                </td> -->
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination
    md-limit="paginator.per_page"
    md-page="paginator.current_page"
    md-total="{{paginator.total}}"
    md-page-select="false"
    md-boundary-links="true"
    md-label="{page: 'Página:', rowsPerPage: 'Visualizando ', of: 'elementos, Total'}"
    md-on-paginate="pageChanged">
</md-table-pagination>
