<md-toolbar 
    layout="row" 
    layout-align="space-between center" 
    ng-include="'src/modules/main/views/common/menubar.html'">
</md-toolbar>

<div flex layout="column">
    <md-content layout="row" flex>
        <ng-include src="'src/modules/main/views/common/sidenav.html'"></ng-include>

        <md-content flex layout-column layout-padding class="md-whiteframe-z2 main-layout">
            <div flex>
                <!-- ********************* INICIO CONTENIDO ********************* -->
                <div flex>&nbsp;</div>
                <div flex layout="row">
                    <md-input-container flex>
                        <label>Status</label>
                        <md-select ng-model="filtro.estado">
                            <md-option ng-repeat="(key, value) in status" value="{{key}}" ng-selected="key == 0">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex class="md-icon-float md-icon-right">
                        <label>Fecha</label>
                        <input type="text" ng-model="filtro.fecha_abordaje" maxlength="50"
                            ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="space">
                        <md-icon class="cursor-pointer" ng-click="getList(1)">search</md-icon>
                    </md-input-container>
                </div>
                <div flex ng-include="'src/modules/solicitud/views/table.html'">
                </div>
                <!-- ********************* FIN CONTENIDO ********************* -->
            </div>
        </md-content>
    </md-content>    
</div>