<md-toolbar
    layout="row"
    layout-align="space-between center"
    ng-include="'src/modules/main/views/common/menubar.html'">
</md-toolbar>

<div flex layout="column">
    <md-content layout="row" flex>
        <ng-include src="'src/modules/main/views/common/sidenav.html'"></ng-include>

        <md-content flex layout-column layout-padding class="md-whiteframe-z2 main-layout">
            <div flex>
                <!-- ********************* INICIO CONTENIDO ********************* -->
                <div flex>&nbsp;</div>
                <div flex layout="row">
                    <md-input-container flex>
                        <label>Organización</label>
                        <input type="text" ng-model="filtroReporte.organizacion" maxlength="20">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Concesionaria</label>
                        <md-select ng-model="filtroReporte.concesionario_id">
                            <md-option ng-selected="true" value="">Todos</md-option>
                            <md-option ng-repeat="concesionario in concesionarios" value="{{concesionario.id}}">
                                {{concesionario.nombre_concesionado}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Fecha</label>
                        <input type="text" ng-model="filtroReporte.fecha_abordaje" maxlength="50"
                            ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="space">
                    </md-input-container>
                </div>

                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" aria-label="Generar" ng-click="getReporte()">Generar reporte</md-button>
                </div>
                <!-- ********************* FIN CONTENIDO ********************* -->
            </div>
        </md-content>
    </md-content>
</div>