<md-table-container>
    <table md-table md-progress="promise">
        <thead md-head>
            <tr md-row>
                <th md-column><span>Fecha</span></th>
                <th md-column><span>Cliente</span></th>
                <th md-column><span>Taxista</span></th>
                <th md-column><span>Status</span></th>
                <th md-column><span>Calificación</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="item in list">
                <td md-cell>{{item.fecha_abordaje | date:short}}</td>
                <td md-cell>{{item.pasajero.usuario.nombre}} {{item.pasajero.usuario.apellido_paterno}} {{item.pasajero.usuario.apellido_materno}}</td>
                <td md-cell>{{item.conductor.usuario.nombre}} {{item.conductor.usuario.apellido_paterno}} {{item.conductor.usuario.apellido_materno}}</td>
                <td md-cell>{{status[item.estado]}}</td>
                <td md-cell>{{item.calificacion}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination 
    md-limit="paginator.per_page" 
    md-page="paginator.current_page" 
    md-total="{{paginator.total}}" 
    md-page-select="false"
    md-boundary-links="true"
    md-label="{page: 'Página:', rowsPerPage: 'Visualizando ', of: 'elementos, Total'}"
    md-on-paginate="pageChanged">
</md-table-pagination>
