<md-toolbar 
    layout="row" 
    layout-align="space-between center" 
    ng-include="'src/modules/main/views/common/menubar.html'">
</md-toolbar>

<div flex layout="column">
    <md-content layout="row" flex>
        <ng-include src="'src/modules/main/views/common/sidenav.html'"></ng-include>

        <md-content flex layout-column layout-padding class="md-whiteframe-z2 main-layout">
            <div flex layout="row" layout-align="center start">
                <!-- ********************* INICIO CONTENIDO ********************* -->
                <h2>Bienvenidos</h2>
                <!-- ********************* FIN CONTENIDO ********************* -->
            </div>
        </md-content>
    </md-content>    
</div>