<div class="md-toolbar-tools" md-whiteframe="1">
    <md-button 
        ng-show="menu.itemsSideNav().length != 0"
        class="md-icon-button"
        hide-gt-sm 
        ng-click="menu.toggle()" 
        aria-label="Menú">
            <md-icon class="material-icons">reorder</md-icon>
    </md-button>
    <h2><a href="#/"><md-icon md-svg-icon="logo" class="logo"></md-icon></a></h2>

    <md-button class="md-warn" ng-show="!menu.isOnLine()">
        <md-icon class="material-icons">signal_wifi_off</md-icon> Sin conexión a internet
    </md-button>
    <md-menu>
        <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
            <md-icon class="material-icons">account_box</md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item ng-repeat="item in menu.itemsMenuBar()">
                <md-button aria-label="{{item.text}}" ng-click="menu.goto(item.state)">
                    <md-icon class="material-icons">{{item.icon}}</md-icon> {{item.text}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>