<md-sidenav
    layout-column 
    class="md-sidenav-left"
    md-component-id="sidenav-left"
    md-is-locked-open="$mdMedia('gt-sm')"
    md-disable-backdrop="true"
    ng-show="menu.itemsSideNav().length != 0">
        <md-list style="padding-top:0px;">
            <md-list-item class="bg-color" md-whiteframe="3">
                <div layout="column" layout-fill layout-padding>
                    <div style="text-align: center;"><md-icon class="material-icons md-48 size-auto">account_circle</md-icon></div>
                    <div style="text-align: center;"><strong>{{menu.nombreusr()}}</strong></div>
                </div>
            </md-list-item>
            <md-list-item ng-repeat="item in menu.itemsSideNav()">
                <md-button aria-label="{{item.text}}" ng-click="menu.goto(item.state)" ng-class="{'active md-primary': item.isCurrent()}">
                    <md-icon class="material-icons">{{item.icon}}</md-icon> {{item.text}}
                </md-button>
            </md-list-item>
        </md-list>
</md-sidenav>