/* sass --watch resources/assets/sass:public/css */

// http://mynameismatthieu.com/sass-css3-mixins/
@import 'css3-mixins.scss';

/*************** Start -> General ***************/
// Para posicionar botón fijo al final de la página
.btnFloatBottom {
    position: fixed;
    bottom: 1%;
    right: 6px;
}
.btnFloatBottom2 {
    position: fixed;
    bottom: 1%;
    right: 67px;
}
.cursor-pointer {
    cursor: pointer;
}
/*.cursor-alias {
    cursor: alias;
}*/
md-icon.logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
}
md-icon.logo.login {
    width: auto;
    height: 120px;
    margin-right: 0px;
}
.validation:empty {
    display: none;
}
.validation {
    color: rgb(221,44,0);
    font-size: 12px;
    line-height: 14px;
    transition: all .3s cubic-bezier(.55,0,.55,.2);
    padding-top: 5px;
    display: inline-block;
}
md-toolbar md-input-container {
    font-size: 14px;
    margin-bottom: 10px;

    .md-errors-spacer {
        min-height: 0px !important;
    }
}
.bg-color {
    background-color: rgb(255,193,7);
}
.space-login {
    padding: 50px;
}
// Preview de la imagen del conductor
.thumb {
    width: auto;
    height: 150px;
}
// Ocultamos el indicador de conectado del plugin Offline
.offline-ui.offline-ui-up {
    display: none;
}
// Texto del indicador desconectado
.offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Sin conexi\00f3n a internet";
}
.main-layout {
    margin-left: 1px;
}
/*************** End -> General ***************/

/*************** Start -> SideNav ***************/
md-list-item > button {
    width: 100%;
    text-align: left !important;
}
md-list-item button.active {
    background-color: #eee !important;
}
/*************** End -> SideNav ***************/

/*************** Start -> Material Icons ***************/
/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
// Para posicionar el icono al inicio del input
md-input-container > md-icon {
    position: absolute;
    top: 5px;
    left: 2px;
}
md-icon.size-auto {
    height: auto;
    width: auto;
}
/*************** End -> Material Icons ***************/

/*************** Start -> Toast ***************/
md-toast.error div.md-toast-content {
    color: white !important;
    background-color: red !important;
}
md-toast.success div.md-toast-content {
    color: white !important;
    background-color: green !important;
}
md-toast.error div.md-toast-content md-icon,
md-toast.success div.md-toast-content md-icon {
    margin: 0px;
    margin-right: 10px;
    color: white;
}
/*md-toast.md-error-toast-theme div.md-toast-content {
    color: white !important;
    background-color: red !important;
}
md-toast.md-success-toast-theme div.md-toast-content {
    color: white !important;
    background-color: green !important;
}*/
/*************** End -> Toast ***************/

/*************** Start -> md-table ***************/
// Agrega efecto al pasar el cursos sobre la fila
.md-table tbody .md-row:hover {
    background-color: #eee !important;
}
// Oculta el select de rowsPerPage
.md-table-pagination .md-table-select {
    display: none;
}
.md-table-pagination>md-select+span {
    margin-left: 3px;
}
/*************** End -> md-table ***************/

/*************** Start -> loading-bar ***************/
$loading-color: #ff5722;
#loading-bar .bar {
    background: $loading-color;
    height: 3px;
}
#loading-bar-spinner .spinner-icon {
    border-top-color:  $loading-color;
    border-left-color: $loading-color;
}
#loading-bar .peg {
    -moz-box-shadow: $loading-color 1px 0 6px 1px;
    -ms-box-shadow: $loading-color 1px 0 6px 1px;
    -webkit-box-shadow: $loading-color 1px 0 6px 1px;
    box-shadow: $loading-color 1px 0 6px 1px;
}
/*************** End -> loading-bar ***************/

/*************** Start -> Angular Google Maps ***************/
.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    /*top:0;
    left:0;*/
}
.marker-labels {
    background-color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
}
.custom-info-window {
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 200px;
    margin-top: -166px;
    margin-left: -131px;
    font-size: 12px;
}
.custom-info-window.panico {
    margin-top: -270px;
}
.custom-info-window a {
    color: white;
    text-decoration: underline;
}
.custom-info-window:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0px;
    border-color: rgba(0,0,0,0.35) transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 118px;
}
/*************** End -> Angular Google Maps ***************/

/*************** Start -> ***************/

/*************** End -> ***************/