<md-toolbar
    layout="row"
    layout-align="space-between center"
    ng-include="'src/modules/main/views/common/menubar.html'">
</md-toolbar>

<div flex layout="column">
    <md-content layout="row" flex>
        <ng-include src="'src/modules/main/views/common/sidenav.html'"></ng-include>

        <md-content flex layout-column layout-padding class="md-whiteframe-z2 main-layout">
            <div flex>
                <!-- ********************* INICIO CONTENIDO ********************* -->
                <div flex>&nbsp;</div>
                <div flex>
                    <md-input-container class="md-icon-float md-icon-right md-block">
                        <label>Filtro por nombre</label>
                        <input type="text" ng-model="filtroNombre" maxlength="50">
                        <md-icon class="cursor-pointer" ng-click="getList(1)">search</md-icon>
                    </md-input-container>
                </div>
                <div flex ng-include="'src/modules/cliente/views/table.html'">
                </div>

                <!-- <md-button class="md-fab btnFloatBottom" aria-label="Mapa" ng-click="goto('clientes_panico')">
                    <md-tooltip md-direction="top">Ver clientes en modo pánico</md-tooltip>
                    <md-icon>record_voice_over</md-icon>
                </md-button> -->
                <!-- ********************* FIN CONTENIDO ********************* -->
            </div>
        </md-content>
    </md-content>
</div>