<div>
    <p><strong>Pasajero: </strong> {{parameter.nombre}}</p>
    <p><strong>E-mail: </strong> {{parameter.email}}</p>
    <p><strong>Celular: </strong> {{parameter.telefono_celular}}</p>
    <p><strong>Sexo: </strong> {{parameter.sexo == 'M' ? 'Masculino' : 'Femenino'}}</p>
    <p><strong>Taxi: </strong> {{parameter.numero_economico}}</p>
    <p><strong>Placas: </strong> {{parameter.placa}}</p>
    <p><strong>Conductor: </strong> {{parameter.conductor}}</p>
</div>