<md-toolbar 
    layout="row" 
    layout-align="space-between center" 
    ng-include="'src/modules/main/views/common/menubar.html'">
</md-toolbar>

<div flex layout="column">
    <md-content layout="row" flex>
        <ng-include src="'src/modules/main/views/common/sidenav.html'"></ng-include>

        <md-content flex layout-column class="md-whiteframe-z2 main-layout">
            <div flex>
                <!-- ********************* INICIO CONTENIDO ********************* -->
                <md-progress-linear md-mode="indeterminate" ng-show="promise"></md-progress-linear>

                <ui-gmap-google-map
                    center="map.center" 
                    zoom="map.zoom"
                    control="map.control">

                    <!-- Solo se manejara un infoWindow para todos los marcadores -->
                    <ui-gmap-window
                        coords="map.infoWindow.coords"
                        show="map.infoWindow.show"
                        templateUrl="'src/modules/cliente/views/infoWindow.tpl.html'"
                        templateParameter="map.infoWindow.content"
                        closeClick="map.infoWindow.close"
                        options="map.infoWindow.options"
                        ng-cloak>
                    </ui-gmap-window>

                    <ui-gmap-markers 
                        models="map.markers" 
                        coords="'coords'" 
                        icon="'icon'" 
                        options="'options'"
                        events="map.events">

                    </ui-gmap-markers>

                </ui-gmap-google-map>
                <!-- ********************* FIN CONTENIDO ********************* -->
            </div>
        </md-content>
    </md-content>    
</div>