<md-table-container>
    <table md-table md-progress="promise">
        <thead md-head>
            <tr md-row>
                <th md-column><span>E-mail</span></th>
                <th md-column><span>Nombre</span></th>
                <!-- <th md-column><span>Municipio</span></th> -->
                <th md-column><span>Sexo</span></th>
                <th md-column><span>Facebbok</span></th>
                <th md-column><span>Activo</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="item in list" ng-click="goto('clientes_view', {id: item.id })" class="cursor-alias">
                <td md-cell>{{item.email}}</td>
                <td md-cell>{{item.nombre}} {{item.apellido_paterno}} {{item.apellido_materno}}</td>
                <!-- <td md-cell>{{item.municipio.nombre}}</td> -->
                <td md-cell>{{item.sexo === 'M' ? 'Masculino' : (item.sexo === 'F' ? 'Femenino' : '')}}</td>
                <td md-cell>
                    <md-icon ng-show="item.pasajero.facebook_id">thumb_up</md-icon>
                </td>
                <td md-cell>
                    <md-button ng-click="toogleActivo(item, $event)" class="md-icon-button" aria-label="Cambiar Estado de Activo">
                        <md-tooltip md-direction="top">
                            {{item.activo ? 'Activo' : 'Inactivo' }},
                            de click para cambiar su status
                        </md-tooltip>
                        <md-icon>
                            {{item.activo ? 'check_box' : 'check_box_outline_blank' }}
                        </md-icon>
                    </md-button>
                </td>
                <!-- <td md-cell>
                    <md-button ng-click="goto('clientes_view', {id: item.id })" class="md-icon-button" aria-label="Visualizar datos">
                        <md-tooltip md-direction="top">Visualizar datos</md-tooltip>
                        <md-icon>remove_red_eye</md-icon>
                    </md-button>
                </td> -->
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination 
    md-limit="paginator.per_page" 
    md-page="paginator.current_page" 
    md-total="{{paginator.total}}" 
    md-page-select="false"
    md-boundary-links="true"
    md-label="{page: 'Página:', rowsPerPage: 'Visualizando ', of: 'elementos, Total'}"
    md-on-paginate="pageChanged">
</md-table-pagination>
