<md-toolbar 
    layout="row" 
    layout-align="space-between center" 
    ng-include="'src/modules/main/views/common/menubar.html'">
</md-toolbar>

<div flex layout="column">
    <md-content layout="row" flex>
        <ng-include src="'src/modules/main/views/common/sidenav.html'"></ng-include>

        <md-content flex layout-column layout-padding class="md-whiteframe-z2 main-layout">
            <div flex layout-column layout-fill>
                <!-- ********************* INICIO CONTENIDO ********************* -->
                <h2>Datos del Cliente</h2>
                <form name="form" novalidate>
                    <md-progress-linear md-mode="indeterminate" ng-show="promise"></md-progress-linear>

                    <div layout="column">
                        <div layout="column" layout-align="center center">
                            <img ng-show="form.foto.$valid" ngf-thumbnail="model.foto" class="thumb">
                        </div>
                    </div>
                    
                    <div layout-gt-sm="row" layout="column">
                        <md-input-container flex>
                            <label>E-mail</label>
                            <input type="email" ng-model="model.usuario.email" name="email" maxlength="50" readonly>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Nombre</label>
                            <input type="text" ng-model="model.usuario.nombre" name="nombre" maxlength="50" readonly>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Apellido paterno</label>
                            <input type="text" ng-model="model.usuario.apellido_paterno" name="apellido_paterno" maxlength="50" readonly>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" layout="column">
                        <md-input-container flex>
                            <label>Apellido materno</label>
                            <input type="text" ng-model="model.usuario.apellido_materno" name="apellido_materno" maxlength="100" readonly>
                        </md-input-container>
                        <!-- <md-input-container flex>
                            <label>Municipio</label>
                            <input type="text" ng-model="model.usuario.municipio.nombre" name="municipio" maxlength="100" readonly>
                        </md-input-container> -->
                        <md-input-container flex>
                            <label>Sexo</label>
                            <input type="text" value="{{model.usuario.sexo === 'M' ? 'Masculino' : (model.usuario.sexo === 'F' ? 'Femenino' : '')}}" name="sexo" maxlength="20" readonly>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Teléfono Celular</label>
                            <input type="text" ng-model="model.telefono_celular" name="telefono_celular" maxlength="18" readonly>
                        </md-input-container>
                        <md-input-container class="flex md-input-has-value">
                            <label>Facebook</label>
                            <md-icon ng-show="model.facebook_id">thumb_up</md-icon>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row" layout="column" layout-fill layout-align="center center">
                        <button class="md-button md-raised md-primary" ng-click="goto('clientes_index')" layout layout-align="center center">
                            <md-icon class="material-icons">arrow_back</md-icon> Regresar a listado
                        </button>
                    </div>
                </form>
                <!-- ********************* FIN CONTENIDO ********************* -->
            </div>
        </md-content>
    </md-content>    
</div>