<md-toolbar 
    layout="row" 
    layout-align="space-between center" 
    ng-include="'src/modules/main/views/common/menubar.html'">
</md-toolbar>

<div flex layout="column">
    <md-content layout="row" flex>
        <ng-include src="'src/modules/main/views/common/sidenav.html'"></ng-include>

        <md-content flex layout-column layout-padding class="md-whiteframe-z2 main-layout">
            <div flex layout-column layout-fill>
                <!-- ********************* INICIO CONTENIDO ********************* -->
                <h2>Actualizar datos del conductor</h2>
                <form name="form" novalidate>
                    <md-progress-linear md-mode="indeterminate" ng-show="promise"></md-progress-linear>

                    <div ng-include="'src/modules/conductor/views/fields.html'"></div>

                    <div layout="row" layout-fill layout-align="center center">
                        <button class="md-button md-raised md-primary" ng-click="update()" layout layout-align="center center">
                            <md-icon class="material-icons">check_circle</md-icon> Actualizar
                        </button>
                        <button class="md-button md-raised md-primary" ng-click="goto('conductores_index')" layout layout-align="center center">
                            <md-icon class="material-icons">arrow_back</md-icon> Cancelar
                        </button>
                    </div>
                </form>
                <!-- ********************* FIN CONTENIDO ********************* -->
            </div>
        </md-content>
    </md-content>    
</div>