<div layout="column">
    <div layout="column" layout-align="center center">
        <img ng-show="form.foto.$valid" ngf-thumbnail="model.foto" class="thumb">
    </div>
    <div flex layout="row" layout-fill style="min-height: 80px;">
        <md-input-container flex="model.foto ? 75 : 100">
            <button class="md-button md-raised" ngf-select ng-model="model.foto" name="foto"
                accept="image/*" ngf-pattern="'image/*'" ngf-max-size="2MB" aria-label="Foto">
                <md-icon class="material-icons">portrait</md-icon> Seleccionar Foto
            </button>
            <div ng-messages="form.foto.$error" multiple md-auto-hide="false"
                ng-show="form.foto.$touched || form.$submitted">
                <div ng-message="maxSize">El tamaño máximo permitido es 2MB.</div>
                <div ng-message="pattern">Sólo puede subir archivos de imagen.</div>
            </div>
        </md-input-container>
        <md-input-container flex="15" ng-show="model.foto">
            <md-button ng-click="model.foto = null; $event.stopPropagation(); $event.preventDefault();" class="md-raised md-warn">Eliminar Foto</md-button>
        </md-input-container>
    </div>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>E-mail</label>
        <input type="email" ng-model="model.usuario.email" name="email" maxlength="50" required>
        <div ng-messages="form.email.$error" 
            ng-show="form.email.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
            <div ng-message="email">Email inválido.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Nombre</label>
        <input type="text" ng-model="model.usuario.nombre" name="nombre" maxlength="50" required validation="alpha_spaces">
        <div ng-messages="form.nombre.$error" 
            ng-show="form.nombre.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Apellido paterno</label>
        <input type="text" ng-model="model.usuario.apellido_paterno" name="apellido_paterno" maxlength="50" required validation="alpha_spaces">
        <div ng-messages="form.apellido_paterno.$error" 
            ng-show="form.apellido_paterno.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Apellido materno</label>
        <input type="text" ng-model="model.usuario.apellido_materno" name="apellido_materno" maxlength="100" required validation="alpha_spaces">
        <div ng-messages="form.apellido_materno.$error" 
            ng-show="form.apellido_materno.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Municipio</label>
        <md-select ng-model="model.usuario.municipio_id" name="municipio_id" required>
            <md-option ng-repeat="municipio in municipios" value="{{municipio.id}}">
                {{municipio.nombre}}
            </md-option>
        </md-select>
        <div ng-messages="form.municipio_id.$error" 
            ng-show="form.municipio_id.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Sexo</label>
        <md-select ng-model="model.usuario.sexo" name="sexo" required>
            <md-option value="M">Masculino</md-option>
            <md-option value="F">Femenino</md-option>
        </md-select>
        <div ng-messages="form.sexo.$error" 
            ng-show="form.sexo.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Concesionario</label>
        <md-select ng-model="model.taxi.concesionario_id" name="concesionario_id" required ng-change="loadTaxis()">
            <md-option ng-repeat="concesionario in concesionarios track by concesionario.id" value="{{concesionario.id}}">
                {{concesionario.nombre_concesionado}}
            </md-option>
        </md-select>
        <div ng-messages="form.concesionario_id.$error" 
            ng-show="form.concesionario_id.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Taxi (Número Económico)</label>
        <md-select ng-model="model.taxi_id" name="taxi_id" required>
            <md-option ng-repeat="taxi in taxis" value="{{taxi.id}}">
                {{taxi.numero_economico}}
            </md-option>
        </md-select>
        <div ng-messages="form.taxi_id.$error" 
            ng-show="form.taxi_id.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
        <md-progress-linear md-mode="indeterminate" ng-show="loadingTaxis"></md-progress-linear>
    </md-input-container>
    <md-input-container flex>
        <label>Turno</label>
        <input type="text" ng-model="model.turno" name="turno" maxlength="1" required>
        <div ng-messages="form.turno.$error" 
            ng-show="form.turno.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>CURP</label>
        <input type="text" ng-model="model.curp" name="curp" maxlength="19" required validation="alpha_num">
        <div ng-messages="form.curp.$error" 
            ng-show="form.curp.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>INE</label>
        <input type="text" ng-model="model.ine" name="ine" maxlength="20" required validation="alpha_num">
        <div ng-messages="form.ine.$error" 
            ng-show="form.ine.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Fecha de Nacimiento (DD-MM-YYYY)</label>
        <input type="text" ng-model="model.fecha_nacimiento" name="fecha_nacimiento" required
            ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="space">
        <div ng-messages="form.fecha_nacimiento.$error" 
            ng-show="form.fecha_nacimiento.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Vigencia Licencia de conducir (DD-MM-YYYY)</label>
        <input type="text" ng-model="model.vigencia_licencia_conducir" name="vigencia_licencia_conducir" required
            ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="space">
        <div ng-messages="form.vigencia_licencia_conducir.$error" 
            ng-show="form.vigencia_licencia_conducir.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Dirección</label>
        <input type="text" ng-model="model.direccion" name="direccion" maxlength="100" required validation="alpha_num_spaces">
        <div ng-messages="form.direccion.$error" 
            ng-show="form.direccion.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Colonia</label>
        <input type="text" ng-model="model.colonia" name="colonia" maxlength="20" required validation="alpha_num_spaces">
        <div ng-messages="form.colonia.$error" 
            ng-show="form.colonia.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Número</label>
        <input type="number" ng-model="model.numero" name="numero" required>
        <div ng-messages="form.numero.$error" 
            ng-show="form.numero.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Teléfono</label>
        <input type="text" ng-model="model.telefono" name="telefono" maxlength="15" required validation="digits_between:7,15">
        <div ng-messages="form.telefono.$error" 
            ng-show="form.telefono.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Número de Cerfificado de Actitud</label>
        <input type="number" ng-model="model.numero_certificado_aptitud" name="numero_certificado_aptitud" maxlength="20" required>
        <div ng-messages="form.numero_certificado_aptitud.$error" 
            ng-show="form.numero_certificado_aptitud.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>
<div layout-gt-sm="row" layout="column">
    <md-input-container flex>
        <label>Licencia de Conducir</label>
        <input type="text" ng-model="model.licencia_conducir" name="licencia_conducir" maxlength="20" required>
        <div ng-messages="form.licencia_conducir.$error" 
            ng-show="form.licencia_conducir.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Contraseña <span ng-show="!required_password">(Opcional)</span></label>
        <input type="password" ng-model="model.usuario.password" name="password" maxlength="10" ng-required="required_password">
        <div ng-messages="form.password.$error" 
            ng-show="form.password.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>Confirmar contraseña <span ng-show="!required_password">(Opcional)</span></label>
        <input type="password" ng-model="model.usuario.password_confirm" name="password_confirm" maxlength="10"  ng-required="required_password">
        <div ng-messages="form.password_confirm.$error" 
            ng-show="form.password_confirm.$touched || form.$submitted" 
            multiple md-auto-hide="false">
            <div ng-message="required">Este campo es obligatorio.</div>
        </div>
    </md-input-container>
</div>