<div flex layout="row" layout-align="center center">
    <form ng-submit="auth.login()" name="form" novalidate 
    layout="column" md-whiteframe="3"
    flex-xs='90' flex-gt-xs="60" flex-md="45" flex-gt-md="35">
        <div flex layout="column" layout-align="center center" class="bg-color" style="min-height: 120px;">
            <div flex><md-icon md-svg-icon="logo" class="logo login"></md-icon></div>
        </div>
        
        <div layout="column" class="space-login">
            <md-input-container class="md-icon-float md-block">
                <label>Correo Electrónico</label>
                <md-icon class="material-icons">email</md-icon>
                <input type="email" name="email" ng-model="auth.email" ng-required="true">
                <div ng-messages="form.email.$error" 
                    ng-show="form.email.$touched || form.$submitted" 
                    multiple md-auto-hide="false">
                    <div ng-message="email">Email inválido.</div>
                    <div ng-message="required">Este campo es obligatorio.</div>
                    <div ng-message="md-maxlength">Excede el límite de caracteres.</div>
                </div>
            </md-input-container>

            <md-input-container md-no-float class="md-block">
                <md-icon class="material-icons">vpn_key</md-icon>
                <input type="password" name="password" ng-model="auth.password" placeholder="Contraseña" ng-required="true">
                <div ng-messages="form.password.$error" 
                    ng-show="form.password.$touched || form.$submitted" 
                    multiple md-auto-hide="false">
                    <div ng-message="required">Este campo es obligatorio.</div>
                    <div ng-message="md-maxlength">Excede el límite de caracteres.</div>
                </div>
            </md-input-container>
            
            <button class="md-button md-raised md-primary" type="submit">
                <md-icon class="material-icons">input</md-icon> Aceptar
            </button>
            
            <div flex>
                <md-divider md-outset></md-divider>
            </div>

            <md-button href="#/recuperapass" aria-label="Olvidé mi contraseña">Olvidé mi contraseña</md-button>
        </div>
    </form>
</div>
